{% extends 'store/layout.html' %}


{% block title %}Search{% endblock %}


{% block main %}
  <!-- MAIN CONTAINER -->
    <div class="container">
		<section class="banner align-center center">
          {% for p in products %}
            <div class="category">
             <a href="/product/{{p.id}}">
               <img alt="{{p.name}}" src="/media/{{p.image}}" />
               <div class="category-text">
                 <h3>{{p.name}}</h3>
                 <div>
                   <h4>Price: {{p.price}}$</h4>
                   <b>Stoks: {{p.stoks}}</b>
                 </div>
               </div>
             </a>
           </div>
           {% empty %}
           		<h3>No results Found!!</h3>
        {% endfor %}
      </section>
    </div>

{% endblock %}