{% extends 'chat/base.html' %} 
{% load static %} 
{% block header %} 
<style>

.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn, .profile-delete-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.profile-edit-btn {
	color: #6c757d;
}
.profile-delete-btn {
	color: rgb(255,14,14);
}

.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}
</style>
{% endblock %} 

{% block content %}

<div class="row mt-5 mb-5 d-flex flex-column align-items-center justify-content-center">
    <div class="col-md-9">
        <div class="card bg-light text-dark">
		
            <div class="card-header">
                <h5 class="card-title">Profile Details</h5>
            </div>
            <div class="card-body">
                <div class="container-fluid">
					<div class="container emp-profile">
						<form method="post" enctype="multipart/form-data"> {% csrf_token %}
						{% include "./message.html" %} 
							<div class="row">
								<div class="col-md-4">
									<div class="profile-img mb-5">
										<img src="{{profile.image.url}}" alt=""/>
										{% if profile.user == request.user %}
										<div class="file btn btn-lg btn-primary">
											<label for="file">Change Photo</label>
											<input type="file" id="image" name="image" accept="image/*"/>
										</div>
										{% endif %}
									</div>
								</div>
								<div class="col-md-4">
									<div class="profile-head">
										<h5>
											{{profile.user.first_name}} {{profile.user.last_name}}
										</h5>
										<small class="proile-rating">@<span>{{profile.user.username}}</span></small>
									</div>
								</div>
								{% if profile.user == request.user %}

								<div class="col-md-4 d-flex flex-column align-items-center justify-content-center">
									<input type="button" class="profile-delete-btn mb-1 " name="delete" value="delete"/>
									<input type="submit" class="profile-edit-btn mb-1 " name="btnAddMore" value="Edit"/>
								</div>

								{% endif %}
							</div>
							<div class="row ">
								<div class="col-md-8">
									<div class="tab-content profile-tab" id="myTabContent">
										
										<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
										{% if profile.user == request.user %}
										
											<div class="row">
											
												<div class="col-md-6">
													<label>Username</label>
												</div>
												
												<div class="col-md-6">
													
													  <input type="text" class="form-control" name="username" value="{{profile.user.username}}" placeholder="Username" aria-label="Username" required>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6">
													<label>First Name</label>
												</div>
												<div class="col-md-6">
												  <input type="text" class="form-control" name="first_name" value="{{profile.user.first_name}}" placeholder="first name" aria-label="first_name">
												</div>
											</div>
											<div class="row">
												<div class="col-md-6">
													<label>Last Name</label>
												</div>
												<div class="col-md-6">
												<input type="text" class="form-control" name="last_name" value="{{profile.user.last_name}}" placeholder="last name" aria-label="last_name">
												</div>
											</div>
											<div class="row">
												<div class="col-md-6">
													<label>Email</label>
												</div>
												<div class="col-md-6">
												
													<input type="email" class="form-control" name="email" value="{{profile.user.email}}" placeholder="email" aria-label="email">
												</div>
											</div>
										{% else %}
											<div class="row">
												<div class="col-md-6">
													<label>Username</label>
												</div>
												<div class="col-md-6">
												<p>{{profile.user.username}}</p>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6">
													<label>First Name</label>
												</div>
												<div class="col-md-6">
												  <p>{{profile.user.first_name}}</p>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6">
													<label>Last Name</label>
												</div>
												<div class="col-md-6">
												<p>{{profile.user.last_name}}</p>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6">
													<label>Email</label>
												</div>
												<div class="col-md-6">
												<p>{{profile.user.email}}</p>
												</div>
											</div>
										{% endif %}
										</div>
									</div>
								</div>
						     </div>
					    </form>           
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}