<!DOCTYPE html>
{% load static %}
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="{% static './icons/favicon.png' %}" type="">

  <title> foodex: {% block title %}{% endblock %}</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static './dashboard/css/bootstrap.css' %}" />

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- nice select  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
  <!-- font awesome style -->
  <link href="{% static './dashboard/css/font-awesome.min.css' %}" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="{% static './dashboard/css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static './dashboard/css/responsive.css' %}" rel="stylesheet" />
  <link href="{% static './dashboard/css/watchlist.css' %}" rel="stylesheet" />
</head>


<body>
  

<!-- header section strats -->
<header class="bg-dark header_section">
    <div class="container">
    <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="{% url 'dashboard:home' %}">
        <span>
            <img src="{% static 'favicon.png' %}" alt="">
            foodex
        </span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class=""> </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav px-0  mr-auto  mr-auto ">

            <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:menu' %}">Main Menu</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard:ordertable' %}">Book Table</a>
            </li>
            {% endif %}
            <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:about' %}">About</a>
            </li>
        </ul>
        <div class="user_option">
            <form class="flex d-flex justifiy-content form-inline my-2 my-lg-0" style="width: auto;">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
                </div>
                <input class="form-control mr-sm-2" type="search" placeholder="search for.." aria-label="Search">
            </div>
            </form>
            {% if request.user.is_authenticated %}
            <div class="text-warning dropdown">
            <a for="menu-d" class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user" aria-hidden="true"></i>
            </a>
            <div id="menu-d" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'dashboard:cart' %}"><i class="fa fa-cart-plus"></i> my cart</a>
                <a class="dropdown-item" href="{% url 'dashboard:watchlist' %}"><i class="fa fa-heart"></i> favourite</a>
                <a class="dropdown-item" href="{% url 'users:profile' %}"><i class="fa fa-cog"></i> settings</a>
                <a class="dropdown-item" href="{% url 'users:logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i> logout</a>
            </div>
            </div>
            {% else %}
            <a href="{% url 'users:login' %}" class="user_link">
                <i class="fa fa-user" aria-hidden="true"></i>
            </a>
            {% endif %}

            <a href="{% url 'orders:orders' %}" class="order_online">
            Order Online
            </a>
        </div>
        </div>
    </nav>
    </div>
<!-- end header section -->
</header>

  <!-- book section -->
  <section class="book_section layout_padding">
    {% include 'includes/message.html' %}
    <div class="container">
      <div class="heading_container">
        <h2>
          Book A Table
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <form action="{% url 'dashboard:ordertable' %}" method="post"> {% csrf_token %}
              <div>
                <input type="text" name="name" class="form-control" placeholder="Your Name" value="{{request.user.first_name}} {{request.user.last_name}}" required/>
              </div>
              <div>
                <input type="text" name="phone" class="form-control" placeholder="Phone Number" value="{{request.user.phone}}" pattern="^01[0-2,5]{1}[0-9]{8}$" required/>
              </div>
              <div>
                <input type="email" name="email" class="form-control" placeholder="Your Email" value="{% if request.user.email %}{{request.user.email}}{% endif %}" />
              </div>
              <div>
                <select name="count" class="form-control nice-select wide" required>
                  <option value="" disabled selected>
                    How many persons?
                  </option>
                  <option value="1">
                    1
                  </option>
                  <option value="2">
                    2
                  </option>
                  <option value="3">
                    3
                  </option>
                  <option value="4">
                    4
                  </option>
                  <option value="5">
                    5
                  </option>
                </select>
              </div>
              <div>
                <input name="date" type="date" class="form-control" required>
              </div>
              <div>
                <input name="time" type="time" class="form-control" required>
              </div>
              <div class="btn_box">
                <button type="submit">
                  Book Now
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="map_container ">
            <div id="googleMap"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end book section -->
  

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
              Contact Us
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Location
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                +201016909285
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  demo@gmail.com
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <a href="" class="footer-logo">
               foodex
            </a>
            <p>
              Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with
            </p>
            <div class="footer_social">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-pinterest" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <h4>
            Opening Hours
          </h4>
          <p>
            Everyday
          </p>
          <p>
            10.00 Am -10.00 Pm
          </p>
        </div>
      </div>
      <div class="footer-info">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By
          <a href="https://html.design/">IT team</a><br><br>
          &copy; <span id="displayYear"></span> Distributed By
          <a href="https://www.facebook.com/profile.php?id=100007977284695" target="_blank">Mahmoud Alaa</a>
        </p>
      </div>
    </div>
  </footer>

  <!-- jQery -->
  <script src="{% static './dashboard/js/jquery-3.4.1.min.js' %}"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script src="{% static './dashboard/js/bootstrap.js' %}"></script>
  <!-- owl slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- isotope js -->
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
  <!-- nice select -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
  <!-- custom js -->
  <script src="{% static './dashboard/js/custom.js' %}"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <!-- End Google Map -->
</body>
</html>
